.message-entry .ant-tabs-content-top {
    height: 100%
}

.message-panel-container {
    
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.message-chat-history {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
}