/* @tailwind base; */
/* @tailwind components;
@tailwind utilities; */
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  ::-webkit-scrollbar {
    -webkit-transition: none;
    transition: none;
  }

}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  -webkit-transition: background-start-rgb .3s;
  transition: background-start-rgb .3s;
}

::-webkit-scrollbar-corner {
  background: 0 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(29, 39, 59, .16);
}

::-webkit-scrollbar-track {
  background: rgba(var(--background-start-rgb), .06);
}